<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <solution>
        <add key="disableSourceControlIntegration" value="true"/>
    </solution>
    <config>
        <add key="signatureValidationMode" value="accept"/>
    </config>
    <packageSources>
        <clear/>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
        <add key="TestLab" value="https://nuget.testlab.petabridge.net/v3/index.json" />
    </packageSources>

    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*"/>
        </packageSource>
        <packageSource key="TestLab">
            <package pattern="Akka.Persistence.Sql"/>
            <package pattern="Akka.Persistence.Sql.Hosting"/>
        </packageSource>
    </packageSourceMapping>
</configuration>